
#js-data-formated, #js-data-json-container{
	margin: 15px 0 0 0;
    background: #fff;
    padding: 15px;
    border: 5px solid #E0E0E0;
}

.rest-request-string-container{
	display: block;
	margin-bottom: 15px;
}

#js-data-formated article{
	border-bottom: 1px solid #E0E0E0;
}

