
/* Main Layout Styles */

#js-data-formated, #js-data-json-container, #js-example-container {
 	background: #fff;
  padding: 30px 15px;
  border: 1px solid #E0E0E0;
}

.rest-request-string-container{
	display: block;
	margin-bottom: 15px;
  width: 75%;
}

#rest-request-string{
  width: 91%;
}

#viewRequestEndpoint{
  width: 8%;
  text-align: center;
}

#js-data-formated article{
	border-bottom: 1px solid #E0E0E0;
}

#js-data-json{
	overflow-y: auto;
    margin: 0;
}

/* Media Content */
article.media{
    padding: 15px 0;
}

article.media img, article.media p{
	vertical-align: middle;
    display: inline-block;
}

article.media p{
	margin-left: 10px;
}

article.media img{
  max-width: 100%;
}

/*Tab Controller */

#wrapper{
  width: 75%;
}

#tabs{
  text-align: right;
  margin-bottom: 0;
  margin: 0;
}

#tabs li{
  display: inline-block;
  margin: 0;
}

#tabs li a{
  text-decoration: none;
  background: #fff;
  padding: 5px;
  padding-bottom: 1px;
  border: 1px solid #E0E0E0;
  border-bottom: none;
}